# Ignore Python virtual environment
django_project/
!django_project/manage.py
!django_project/users
!django_project/media
!django_project/requirements.txt

# Ignore Node modules (if you have React in your project root)
node_modules/
build/
.env
